<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>曾子宇的興趣何倫碼測驗</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:skyblue; font-size:60px;}
		h2 {color:darkgray; font-size:40px;}
		h3 {color:black; font-size:30px;}
	</style>
</head>
<body>
	<tr>
		<td>
		<h1>我的靈魂住著林懷民，你呢？</h1>
		</td>
		<td>
			<img src="static/1.jpg"></img>
			<h2 id="h2text">我的興趣何倫碼是 A藝術 × R實做 </h2>
		</td>
			<td>
			<h3>我喜歡動手從事藝術創作，直覺敏銳有創意，想法不受傳統限制。</h3>
			<h3>擅長操作各種機械、儀器、多媒體等事物，能獨立完成作品，並從中得到成就感。</h3>
			<h3>生活隨興自由，比較不重視規範。</h3>
			<img src="static/2.jpg"></img>
			<h3>5%的人結果與我相同</h3>
		</td>
		<td>
			<img src="static/3.jpg"></img>
		</td>
		<td>
			<img src="static/4.jpg"></img>
		</td>
		<td>
			<img src="static/5.jpg"></img>
		</td>
	</tr>
</body>
</html>