<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS相關工作</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:darkred; font-size:60px;}
		h2 {color:darkgoldenrod; font-size:50px;}
		h3 {color:black; font-size:30px;}
		h4 {color:darkred; font-size:25px;}
	</style>
</head>
<body>
	<table width="70%">
		<tr>
			<td align="center" valign="center">
				<h1><a href="https://www.104.com.tw/job/7m90s" style="text-decoration:none;color:darkred">MIS資訊工程師</a></h1>
				<h4>
					<a href="https://www.104.com.tw/company/1a2x6bm1o0?jobsource=jolist_c_relevance" style="text-decoration:none;color:gray">禹創科技有限公司</a>
					<a href="https://www.104.com.tw/company/1a2x6bm1o0?jobsource=jolist_c_relevance#info06" style="text-decoration:none;color:gray">本公司其他工作</a>
				</h4>
			</td>
		</tr>
	</table>
	
	<table width="70%">
		<tr>
			<td align="center" valign="center">
				<h2>工作內容</h2>
			</td>
		</tr>
	</table>

	<table width="80%">
		<tr align="left" valign="center">
			<td>
				<h3>
					1. 公司內部管理資訊系統MIS/IT服務的運作/維護<br>
					2. 管理與維護公司網路和資料，並進行備份工作。<br>
					3. 資訊產品採購、資訊設備盤點<br>
					4. 處理個人電腦軟硬體的故障問題。<br>
					5. 主管交辦事項<br>
					6. 客戶端合作事宜<br>
				</h3>
			</td>
			<td>
				<h3>
					職務類別：網路管理工程師、系統維護／操作人員、MIS程式設計師<br>
					工作待遇：月薪35K~45K<br>
					工作性質：全職<br>
					管理責任：不需負擔管理責任<br>
					出差外派：無需出差外派<br>
					上班時段：日班<br>
					休假制度：週休二日<br>
					可上班日：一個月內<br>
					需求人數：1人<br>
				</h3>
			</td>
		</tr>
	</table>

	<table width="70%">
		<tr>
			<td align="center" valign="center">
				<h2>條件要求</h2>
			</td>
		</tr>
	</table>

	<table width="80%">
		<tr align="left" valign="center">
			<td>
				<h3>
					工作經歷：不拘<br>
					學歷要求：大學以上<br>
					科系要求：不拘<br>
					語文條件：不拘<br>
					擅長工具：不拘<br>
					其他條件：<br>
					<h4>
						1、資訊相關系畢業，具有電腦/網路故障排除經驗<br>
						2、具有Mis資訊工程師1-3年經驗佳<br>
					</h4>
				</h3>
			</td>
			<td>
				<h3>
					工作技能：<br>
					<h4>
						1、作業系統基本操作<br>
						2、資料備份與復原<br>
						3、電腦設備裝配<br>
						4、資訊設備環境設定<br>
						5、系統架構規劃與維護<br>
						6、安裝與維護網路安全系統<br>
						7、規劃與管理防火牆<br>
						8、網路系統配置<br>
					</h4>
				</h3>
			</td>
		</tr>
	</table>
</body>
</html>